@charset "UTF-8";

/* 回答はここに書いてね */

.q2{
  width: 900px;
  padding: 20px;
  background-color: #eff3f4;
  margin: 0 auto;

}

.q2-text{
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  
}

.imgleft{
  margin-bottom: 10px;
  margin-right: 20px;
  float: left;
}

.imgright{
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}

.clearfix{
  display: block;
  content: "";
  clear: both;
}
/* 回答はここに書いてね */
