@charset "UTF-8";

/* 回答はここに書いてね */

.table{
  background-color: #ecf1f2;
}

.dtable{
  display: table;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  align: center;
}

.dtable:first-child{
  padding-bottom: 0px;
}

.dtable1{
  display: table-cell;
  padding: 20px;
  box-sizing: border-box;
}

.dtable1:first-child{
  width: 100px;
  background-color: #fdc8b8;
}

.dtable1:nth-child(2){
  background-color: #e0abd9;

}

.dtable1:nth-child(3){
  width: 100px;
  background-color: #b6d8ed;
}


.dtable2{
  display: table-cell;
  padding: 20px;
  box-sizing: border-box;
}

.dtable2:first-child{
  background-color: #e5d32e;
}

.dtable2:nth-child(2){
  background-color: #ec8f9a;
}

.dtable2:nth-child(3){
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
