@charset "UTF-8";

/* 回答はここに書いてね */
.q9bubble {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  font-size: 16px;
  border: solid 5px #222;
  border-radius: 30px;
}

.q9bubble:before, .q9bubble:after {
  content: "";
  position: absolute;
  left: 30px;
}

.q9bubble:before {
  bottom: -48px;
  border: 23px solid transparent;
  border-top: 23px solid #222;
}

.q9bubble:after {
  bottom: -40px;
  border: 22px solid transparent;
  border-top: 22px solid #fff;
}
/* 回答はここに書いてね */
