@charset "UTF-8";

/* 回答はここに書いてね */
.qfive{
  background-color: #ecf1f2;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}

.eight{
  background-color: #de70cf;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.eight::after{
  content: "";
  background-color: #ffefd3;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 80px;
}

.five{
  background-color: #9fd6d2;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 360px;
  left: 200px;
  z-index: 5;
}

.one{
  background-color: #ffefd3;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 200px;
}

.seven{
  background-color: #deae70;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.four{
  background-color: #8b7a5e;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 280px;
  left: 280px;
  z-index: 4;
}

.six{
  background-color: #fffee4;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 280px;
  left: 120px;
  z-index: 6;
}

.two{
  background-color: #7084de;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 280px;
}

.three{
  background-color: #d0ecea;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 360px;
}

.nine{
  background-color: #2b69a3;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 10px;
  left: 10px;
}

/* 回答はここに書いてね */
