@charset "UTF-8";

/* 回答はここに書いてね */

table.q3table{
  width: 100%; 
  table-layout: fixed;
  text-align: center;
}

.q3table th{
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  border: solid #dedede 1px;
}

.q3table td{
  padding: 10px;
  border: solid #dedede 1px;
  font-size: 16px;
  line-height: 22px;
}

.q3table tr:nth-child(odd){
  background-color: #ecf1f2;
}


tbody tr:last-child{
  border-top: 2px dashed #000;
}


/* 回答はここに書いてね */
