@charset "UTF-8";

/* 回答はここに書いてね */

table.q3table{
  width: 100%; 
  table-layout: fixed;
}

table th{
  padding: 10px;
}

table td{
  padding: 10px;
}

th,td{
  border: solid #dedede 1px;

}

td{
  font-size: 16px;
  line-height: 22px;
}

tr:first-child{
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

td:first-child{
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

tr:nth-child(6){
  border-top: 2px dashed #000;
}


/* 回答はここに書いてね */
