@charset "UTF-8";

/* 回答はここに書いてね */
.textalign{
  text-align: center;
  display: inline-block;
}

.in-q6-1{
  text-align: center;
}
.q6-1text{
  background-color: #e6f2ff;
  padding: 10px;
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

.margin{
  margin: 0 auto;
  text-align: center;
}

.q6table{
  display: table;
}

.q6tablecell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q6flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6-2text1{ 
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

.position{
  position: relative;
}

.q6-2fixed{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}

.q6-2text2{
  position: absolute;
  margin: 0 auto;
}
.q6-2variable{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 回答はここに書いてね */
