@charset "UTF-8";

/* 回答はここに書いてね */
.q6-1{
  background-color: #e6f2ff;
  padding: 10px;
  width: 70px;
}

.q6box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  text-align: center;
  display: block;
}

.right{
  margin: 0 auto;
  text-align: center;
}

.q6table{
  display: table;
}

.q6tablecell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q6flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6-2text{ 
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

.q6-3{
  position: relative;
}

.q6-3fixed{
  position: fixed;
}

.q6-3variable{
  position: absolute;
}
/* 回答はここに書いてね */
